---
BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
    AfterControlStatement: Never
    AfterObjCDeclaration: true
    AfterNamespace: true
    AfterClass: true
    AfterEnum: true
    AfterFunction: true
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: true
    BeforeCatch: false
    BeforeElse: false
    BeforeLambdaBody: false
    BeforeWhile: false
    IndentBraces: false
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 100
AlignAfterOpenBracket: Align
PenaltyBreakBeforeFirstCallParameter: 10000
BinPackArguments: false
DerivePointerAlignment: true
